{% extends 'base.html' %}

{% block content %}
<div class="row my-2">
    <div class="col-md-6">
        <h4 class="py-2 profile-title"><strong>My Profile</strong></h4>
        <ul class="list-unstyled grid">
            <div>
                <img src="{{ image }}" class="img-fluid rounded-circle img" alt="{{ current_user.username}}" srcset="">
            </div>
            <div class="items mx-1 mt-2">
                <li>Username: {{ current_user.username}}</li>
                <li>Email: {{ current_user.email}}</li>
                <li>Date Joined: {{ current_user.date_joined.strftime('%Y-%m-%d') }}</li>
            </div>
        </ul>
        <div>
            <h4 class="py-2 text-uppercase">Update My Profile</h4>
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag()}}
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.img.label(class="form-control-file pb-1 pt-1") }} <br>
                    {{ form.img }}

                </div>
                <div class="form-group d-grid mt-1">
                    {{ form.submit(class='btn btn-primary text-uppercase')}}
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        {{ posts }}
    </div>
</div>
{% endblock content %}