{% extends 'base.html' %}

{% block content %}
<div class="row my-2">
    <div class="col-md-8">
        <a href="/" class="btn btn-secondary mb-3">&larr;back</a>
        <ul class="list-unstyled grid">
            <div>
                <img src="{{ url_for('static', filename='images/' + post.author.image)}}" class="img"
                    alt="{{ post.title }}">
            </div>
            <div class="items mx-1 mt-2">
                <li>Author: {{ post.author.username }}</li>
                <li>Date Posted: {{ post.date_created.strftime('%Y-%m-%d') }}</li>
                {% if post.author == current_user %}
                <a href="{{ url_for('posts.update', id=post.id)}}" class="btn btn-secondary">Update</a>
                <!-- Button trigger modal -->
                <a href="{{url_for('delete', id=post.id)}}" type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">
                    Delete
                </a>
                {% endif %}
                <h6>{{ post.title }}</h6>
                <p>{{ post.content }}</p>
            </div>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure deleting {{ post.title }}?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('posts.delete', id=post.id)}}" method="POST">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">&times;</button>
                    <a href="{{ url_for('posts.delete', id=post.id)}}" type="button" class="btn btn-danger">Yes,
                        Confirm</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}