/* font-family: 'Cinzel Decorative', cursive;
font-family: 'Handlee', cursive;
font-family: 'Odibee Sans', cursive;
font-family: 'Big Shoulders Display', cursive;
font-family: 'Stint Ultra Condensed', cursive; */
body {
    font-family: 'Handlee', cursive;
}

.navbar-brand, .nav-link {
    font-family: 'Cinzel Decorative', cursive;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: .2rem;
}

.profile-title{
    font-family: 'Cinzel Decorative', cursive;
}

.img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.grid{
    display: flex;
}

.items{
    align-self: flex-start;
    /* margin-top: 10px; */
}

a{
    text-decoration: none;
}
